@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to top, #2E4E8C, #A78FBF);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#login > div#form{
        float: right;
        width: 70%;
        height: 100%;
    }
    div#form > h1{
        font-size: 2em;
        margin-bottom: 7px;
    }
    div#form > p{
        font-size: 1.2em;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #2E4E8C, #A78FBF);
    }
    section#login{
        width: 990px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > section#form{
        float: left;
        width: 50%;

    }
    div#form > h1{
        font-size: 2em;
        margin-bottom: 7px;
    }
    div#form > p{
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    div#form > p > span{
        margin-top: 5px;
    }
}